img {
  float: left;
  padding: 10px;
}

.fancy {
  float: left;
}

h1 {
  color: red;
}

h2 {
  font-style: oblique;
}

.sidebar {
  width: 20%;
  float: right;
  background-color: yellow;
  margin: 10px;
  border: 2px solid green;
  padding: 4px;
}

.column {
  width: 300px;
  float: left;
  border: 2px solid green;
  padding: 4px;
  background-color: orange;
  margin: 12px;
}
